{% extends 'base.html.twig' %}

{% block body %}

<body class="bg-dark">


<script>

$ ( document ).ready(function() {
$.ajax({
    type: 'GET',
    url: 'http://127.0.0.1:8000/api/reserva',
    mimeType: 'json',
    success: function(data) {

        $.each(data, function(i, dato) {
          let cadenaInicio=""
          let fechaInicio ;
          if( dato.fechaInicio != null ){

             fechaInicio=new Date (dato.fechaInicio.date);
          
          cadenaInicio="Dia "+(fechaInicio.getDate())+"/"+(fechaInicio.getMonth()+1)+"/"+(fechaInicio.getFullYear())+ ", \n Hora: " +
          (fechaInicio.getHours())+":" +(fechaInicio.getMinutes())+ ":" + (fechaInicio.getSeconds());
          console.log(fechaInicio);

          }

          let cadenaFin=""
          let fechafin ;
          if( dato.fechaFin != null ){

             fechaFin=new Date (dato.fechaFin.date);
          
          cadenaFin="Dia "+(fechaFin.getDate())+"/"+(fechaFin.getMonth()+1)+"/"+(fechaFin.getFullYear())+ ", \n Hora: " +
          (fechaFin.getHours())+":" +(fechaFin.getMinutes())+ ":" + (fechaFin.getSeconds());
          console.log(fechaFin);

          }
            var body = "<tr>";
            body    += "<td>" + dato.id + "</td>";
            body    += "<td>" + dato.nombre + "</td>";
            body    += "<td>" + cadenaInicio + "</td>";
            body    += "<td>" + cadenaFin + "</td>";
            body    += "<td>" + dato.participantes + "</td>";
            body    += "<td>" + dato.juego + "</td>";
            body    += "<td>" + dato.mesa + "</td>";
            body    += "<td>" + dato.user + "</td>";
            
            body    += "</tr>";
            $( "#Table tbody" ).append(body);
        });
        /*DataTables instantiation.*/
        $( "#Table" ).DataTable();
    },
    error: function() {
        alert('Fail!');
    }
});
});
</script>

<div class=" row m-5 p-3" id="table-striped">
  <div class="col-12">
    <div class="card shadow-lg mb-5 bg-body rounded">
      <div class="card-header">
        <h1 class="card-title">Calendario de reservas</h1>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p class="card-text mb-4">Las reservas para este dia son.</p>
          
        </div>
        
          <div class="col-md-12 p-3">
            <table id="Table" class="table table-sm table-striped">
              <thead>
                <tr>
                    <th width="5%">ID</th>
                    <th width="5%">Nombre</th>
                    <th width="20%">Fecha Inicio</th>
                    <th width="30%">Fecha Fin</th>
                    <th width="20%">Participantes</th>
                    <th width="20%">Juego</th>
                    <th width="20%">Mesa</th>
                    <th width="20%">Usuario</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>

</body>

{% endblock %}