body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(153, 194, 255);     /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(153, 194, 255);  /* creates padding around scroll thumb */
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(13,110,253);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(13,110,253);  
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); /* creates padding around scroll thumb */
  }