{% extends 'base.html.twig' %}

{% block body %}


<body class="bg-dark">

<script>

$ ( document ).ready(function() {
      var user = 'josemi';

$.ajax({
    type: 'GET',
    url: 'http://127.0.0.1:8000/api/evento',
    dataType: 'json',
    //data: {user: user}
    success: function(data) {
        $.each(data, function(i, dato) {
          console.log(dato);
          let cadenaInicio=""
          let fechaInicio ;
          if( dato.fechaInicio != null ){

             fechaInicio=new Date (dato.fechaInicio.date);
          
          cadenaInicio="Dia "+(fechaInicio.getDate())+"/"+(fechaInicio.getMonth()+1)+"/"+(fechaInicio.getFullYear())+ ", \n Hora: " +
          (fechaInicio.getHours())+":" +(fechaInicio.getMinutes())+ ":" + (fechaInicio.getSeconds());
          console.log(fechaInicio);

          }

          let cadenaFin=""
          let fechafin ;
          if( dato.fechaFin != null ){

             fechaFin=new Date (dato.fechaFin.date);
          
          cadenaFin="Dia "+(fechaFin.getDate())+"/"+(fechaFin.getMonth()+1)+"/"+(fechaFin.getFullYear())+ ", \n Hora: " +
          (fechaFin.getHours())+":" +(fechaFin.getMinutes())+ ":" + (fechaFin.getSeconds());
          console.log(fechaFin);

          }
            var body = "<tr>";
            body    += "<td>" + dato.id + "</td>";
            body    += "<td>" + dato.evento_Id + "</td>";
            body    += "<td>{{app.user.nombre}}</td>";
            body    += "<td>" + cadenaInicio+ "</td>";
            body    += "<td>" + cadenaFin+ "</td>";
            
            body    += "</tr>";
            $( "#Table tbody" ).append(body);
        });
        /*DataTables instantiation.*/
        $( "#Table" ).DataTable();
    },
    error: function() {
        alert('Fail!');
    }
});
});
</script>







 {% if form is defined %}
     {{ form(form) }}
{% endif %}




<div class=" row m-5 p-3" id="table-striped">
  <div class="col-12">
    <div class="card shadow-lg mb-5 bg-body rounded">
      <div class="card-header">
        <h1 class="card-title">EVENTOS</h1>
      </div>
      <div class="card-content">
        <div class="card-body">
          <p class="card-text mb-4">Para participar en un evento tienes que pedirlo a traves del correo: josemimb@gmail.com</p>
          <a href="" class="d-flex justify-content-end mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></a>
        </div>
        <!-- table striped -->
        <div class="table-responsive p-5">
          <table class="table table-striped  p-5" id="Table">
            <thead>
              <tr>
                    <th width="5%">ID</th>
                    <th width="5%">Nombre</th>
                    <th width="20%">Descripcion</th>
                    <th width="30%">Fecha Inicio</th>
                    <th width="20%">Fecha Fin</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

{# <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg></a>
                    <a href="#" class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg></a>
                    
                </td> #}

{% endblock %}